@import '../../assets/scss/variables.scss';

.nav {
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px #a8a8a8 solid;

    &__container {
        max-width: 1500px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__left, &__right, &__center {
        flex: 1;
    }

    &__center {
        text-align: center;

        @include tablet {
            display: none;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }
}

.nav .left,
.nav .center,
.nav .right {
    flex: 1;
}

.nav .center {
    text-align: center;
}

