body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    box-sizing: border-box; /* Устанавливаем box-sizing для более предсказуемого поведения */
}

*, *::before, *::after {
    box-sizing: inherit; /* Наследуем box-sizing для всех элементов */
}